* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}
.subheader_call_us {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader_call_box {
  display: block;
  margin: 18px auto 0 auto;
  width: 209px;
  height: 55px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  left: 32px;
}
.subheader_number {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.hamburger {
  display: none;
}

.promo {
  min-height: 800px;
  background: url("../img/carAndWoman.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo .promo_header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo .promo_subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo .promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.reasons {
  padding: 71px 0 65px 0;
}
.reasons .label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.reasons .reason_header {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 20px;
}
.reasons .title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.reasons .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.reasons .reason_btn {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 0px;
}
.reasons .col_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}
.reasons .reasons_descr {
  width: 343px;
}
.reasons .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.reasons .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  background: url("../img/grid.png") center center/cover no-repeat;
  padding: 46px 0 80px 0;
}

.mobile_btn {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 0px;
}
.mobile_btn_white {
  background: #ffffff;
  color: #000000;
  border: 1px;
}

.mobile_title {
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}
.mobile_title_white {
  color: #fff;
}

.mobile_subtitle {
  line-height: 0;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}
.mobile_subtitle_white {
  color: #fff;
}

.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  padding: 75px 0 0 0;
  margin: 20px 0 19px 0;
}
.mobile_item_1 {
  background: url(../img/pic1.png) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(../img/pic2.png) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(../img/pic3.png) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(../img/pic4.png) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(../img/pic5.png) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(../img/pic6.png) center center/cover no-repeat;
}

.item_title {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.plus_block {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 32px;
  width: 29px;
  height: 29px;
}

.choise {
  display: block;
  position: relative;
  min-height: 898px;
  background: #070716;
  padding: 55px 0 137px 0;
  z-index: 1;
}

.choise_car {
  position: relative;
  display: block;
  margin: 54px auto;
  z-index: 3;
}

.second_bg {
  display: block;
  position: absolute;
  background: url(../img/GridNearCar.png);
  z-index: 2;
  height: 400px;
  width: 100%;
  top: 498px;
}

.container {
  position: relative;
}

.choise_block_for_text {
  margin: -57px auto;
  position: relative;
  z-index: 3;
  width: 327px;
  text-align: center;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}

.require {
  padding: 68px 0 87px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0px;
}
.require_title {
  font-weight: 400;
  font-size: 22px;
  color: #1CA8C3;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  /* display: inline-block */
  font-weight: 300;
  font-size: 17px;
  color: #222222;
  margin-bottom: 10px;
}
.require_list li:before {
  content: "";
  display: block;
  position: absolute;
  /* display: inline-block */
  /*  vertical-align: middle */
  /* transform: translate(-5px, -2px) */
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/blueCheckMask.png") center center/cover no-repeat;
}
.require .require_descr {
  font-weight: 300;
  font-size: 17px;
  color: #1CA8C3;
}
.require .warning .require_title {
  color: red;
}
.require .warning .require_list li:before {
  background: url("../icons/redCheckMark.png") center center/cover no-repeat;
}

.world {
  min-height: 720px;
  background: url("../img/worldMap.png") center center/cover no-repeat;
  padding: 46px 0 46px 0;
}
.world_link {
  margin-top: 468px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #1FBAD6;
}

.footer {
  position: relative;
  height: 153px;
  padding: 15px 0 35px 0;
}
.footer .footer_line {
  display: block;
  margin: 0 auto;
  width: 301px;
  height: 5px;
  background: #1FBAD6;
}
.footer .title_block {
  width: 365px;
  margin: 20px auto 0 auto;
}
.footer .footer_title {
  padding: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.footer .footer_title .style_for_title {
  font-weight: 300;
  font-size: 15px;
  color: #000000;
}
.footer .subtitle_block {
  width: 388px;
  margin: 0 auto;
}
.footer .footer_subtitle {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.footer .style_for_subtitle {
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
.footer .footer_languige {
  font-weight: 400;
  font-size: 11px;
  color: #1FBAD6;
  margin: 0;
}
.footer .lang_block {
  display: block;
  margin: 0px auto;
  text-align: center;
  margin-top: 10px;
}

.footer_social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  -webkit-transform: translate(24px, -67px);
          transform: translate(24px, -67px);
}

.footer_radius {
  width: 32px;
  height: 32px;
  background-color: #201d1d;
  border-radius: 100%;
}

.social_item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}

.app_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 24px;
  -webkit-transform: translate(0, -65px);
          transform: translate(0, -65px);
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu .menu_item {
    padding-right: 20px;
  }
  .menu .menu_link {
    font-size: 13px;
  }

  .subheader .call_box {
    width: 192px;
    height: 48px;
  }

  .promo .promo_header {
    font-size: 50px;
  }

  .reasons .reasons_block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reasons .reasons_descr {
    width: 300px;
  }

  .mobile .mobile_item {
    width: 300px;
  }

  .footer .footer_img {
    -webkit-transform: translate(0, -24px);
            transform: translate(0, -24px);
  }
  .footer .footer_social {
    -webkit-transform: translate(24px, -30px);
            transform: translate(24px, -30px);
  }
}
@media (max-width: 992px) {
  .menu .menu_item {
    padding-right: 13px;
  }
  .menu .menu_link {
    font-size: 10px;
  }

  .subheader .subheader_official {
    font-size: 10px;
  }
  .subheader .img_logo {
    width: 100%;
  }
  .subheader .subheader_call_box {
    width: 156px;
    font-size: 15px;
  }
  .subheader .subheader_number {
    font-size: 20px;
  }

  .promo .promo_header {
    font-size: 40px;
  }
  .promo .promo_subheader {
    font-size: 25px;
    margin-top: 1px;
  }
  .promo .promo_descr {
    font-size: 15px;
  }

  .reasons .reasons_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reasons .reasons_descr {
    margin-top: 20px;
  }
  .reasons .col_round {
    margin-right: 0;
  }

  .mobile .mobile_item {
    width: 237px;
    height: 237px;
    margin-left: -15px;
  }
  .mobile .item_title {
    font-size: 17px;
  }
  .mobile .mobile_subtitle {
    font-size: 13px;
  }

  .choise .choise_car {
    width: 100%;
  }

  .world {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_item {
    padding-right: 0;
    margin: 10px;
    border: 0;
  }
  .menu .menu_link {
    font-size: 15px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: 0;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader .subheader_number {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .subheader .subheader_call_box {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }

  .promo .promo_header {
    line-height: 45px;
  }

  .mobile .mobile_subtitle {
    display: none;
  }

  .choise {
    min-height: 737px;
  }

  .second_bg {
    height: 251px;
  }

  .footer .footer_social {
    left: 38%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 146px;
  }
  .footer .app_img {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  .footer .footer_img {
    right: 20%;
    position: absolute;
    top: 55px;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }

  header {
    height: 30px;
  }

  .subheader {
    height: 60px;
    top: 30px;
  }
  .subheader .subheader_official {
    display: none;
  }
  .subheader .subheader_logo {
    margin-top: 16px;
  }
  .subheader .subheader_number {
    margin-top: 11px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .subheader .subheader_call_box {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 6px;
  }

  .promo {
    min-height: 400px;
    padding: 73px 0 35px 0;
  }
  .promo .promo_descr {
    display: none;
  }
  .promo .promo_header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo .promo_btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }

  .menu {
    width: 85%;
  }
  .menu .menu_item {
    width: 100%;
    text-align: center;
  }
  .menu .menu_link {
    display: block;
  }

  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons .reasons_block {
    margin-top: 26px;
  }
  .reasons .col_round {
    height: 100px;
    width: 100px;
  }
  .reasons .reason_header {
    font-size: 15px;
    margin-top: 15px;
    line-height: 16px;
  }
  .reasons .reasons_descr {
    width: 100%;
  }
  .reasons .reasons_subtitle {
    font-size: 16px;
  }

  .mobile .mobile_item {
    margin: 12px auto;
  }

  .choise {
    min-height: 551px;
    padding: 55px 0 49px 0;
  }
  .choise .choise_small_text {
    margin-right: 0px;
    font-size: 13px;
    width: 300px;
  }
  .choise .choise_block_for_text {
    display: none;
  }
  .choise .second_bg {
    top: 336px;
  }

  .mobile_title {
    font-size: 20px;
  }
  .mobile_title_white {
    font-size: 20px;
  }

  .mobile_subtitle {
    display: none;
  }
  .mobile_subtitle_white {
    display: none;
  }

  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .title_block {
    width: 300px;
    font-size: 13px;
  }
  .footer .subtitle_block {
    display: block;
    width: 300px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer .footer_subtitle {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .footer .footer_social {
    top: 171px;
  }
  .footer .footer_img {
    margin: 0px;
  }
  .footer .footer_line {
    width: 290px;
  }
  .footer .app_img {
    margin: 0px;
  }
}
@media (max-width: 434px) {
  .footer .footer_social {
    left: 26%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 168px;
  }
  .footer .app_img {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  .footer .footer_img {
    right: 5%;
    position: absolute;
    top: 55px;
  }

  .choise .second_bg {
    top: 306px;
  }
}

/*# sourceMappingURL=style.css.map */